.TokensTableHeader {

    .logo {
        min-width: 64px;
    }

    .symbol {
        min-width: 100px;

    }

    .name {
        min-width: 150px;
        
    }

    .total_supply {
        min-width: 104px;
        
    }
}