@import '../../styles/styles.scss';

.TokenHoldersList {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    
    
    .AccountBalanceRow {
        height: 100px;
        transition: background-color 0.25s;
        
    }

    .TokenPagination {
        min-height: 64px;
        overflow: visible;
    }
}